# Task 1 - MOVIE GENRE CLASSIFICATION

In [ ]:
"""
Create a machine learning model that can predict the genre of a movie 
based on its plot summary or other textual information. 
You can use techniques like TF-IDF or word embeddings with classifiers such as 
Naive Bayes, Logistic Regression, or Support Vector Machines.
"""

'\nCreate a machine learning model that can predict the genre of a movie \nbased on its plot summary or other textual information. You can use \ntechniques like TF-IDF or word embeddings with classifiers such as Naive \nBayes, Logistic Regression, or Support Vector Machines.\n'

In [3]:
import pandas as pd
data=pd.read_csv("description.txt",sep=":::")
data

C:\Users\KIIT\AppData\Local\Temp\ipykernel_10424\2505746974.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data=pd.read_csv("description.txt",sep=":::")

                                                                        Train data:
ID                                                TITLE   GENRE         DESCRIPTION
                                                          GENRE         DESCRIPTION
                                                          GENRE         DESCRIPTION
                                                          GENRE         DESCRIPTION
Test data:                                       NaN     NaN                   None
ID                                                TITLE   DESCRIPTION          None
                                                          DESCRIPTION          None
                                                          DESCRIPTION          None
                                                          DESCRIPTION          None
Source:                                          NaN     NaN                   None
ftp://ftp.fu-berlin.de/pub/misc/movies/database/ NaN     NaN                   None